.project-card {
  text-align: center; /* Center align text within the card */
  margin: 1rem;
}

.project-image {
  position: relative;
}

.image-link {
  display: block;
}

.project-image img {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 0.3s ease;
  /* border-radius: 9px; */
}

.project-image:hover .overlay {
  opacity: 1;
}

.project-subtitle {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.2rem;
}

.project-title {
  margin-top: 1rem;
  font-size: 2rem;
  color: #f0f0f1;
}

.title-link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.title-link:hover {
  text-decoration: underline; /* Add underline on hover for GitHub links */
}

.external-link-icon {
  font-size: 1rem; /* Adjusted font size of the icon */
  margin-left: 0.3rem; /* Space between title and icon */
}
