.exp-card-container {
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; /* Center the card horizontally */
    background: #f2f2f2;

    border-radius: 12px; /* Adjusted border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted shadow */
}

.exp-text-container {
    width: 100%; /* Full width container */
}

.position-place {
    /* font-weight: 700; */
    margin: 0 0 10px 0;
}

.position {
    font-size: 2.3em;
    font-weight: bold
}

.place {
    font-size: 1.85em;
    
}

.exp-date {
    font-size: 1.4em;
    /* margin: 0 0 15px 0; */
}

.exp-desc {
    font-size: 1.2em; /* Adjusted font size */
    margin: 0;
    line-height: 1.5;
    padding-left: 20px; /* Indentation for bullets */
    list-style-type: disc; /* Use disc for bullets */
}

.description li {
    margin-bottom: 5px; /* Space between items */
}
