.edu-page {
    display: flex; /* Use flexbox for the main container */
    flex-direction: column;
   
  }

.edu-content {
    margin-top: 20px;
    flex: 1; /* This makes sure the main content takes the remaining space */
    display: flex; /* Use flexbox for centering content */
    flex-direction: column;
    
}

.page-title {
    font-size: 4.5rem;
    font-weight: 900;
    position: relative; 
    text-align: center;
}

.page-title::after {
    content: "";
    display: block;
    width: 150px; 
    height: 10px; 
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto
}  
