@tailwind base;
@tailwind components;
@tailwind utilities;

/* New design */
:root{
  --font-family: "Roboto", sans-serif;

  /* Colors */
  --background: #111111;
  --text-color: white;
  --secondary: #66FFE8;
  /* --outline-color:  */


  /* Spacing */
  --padding-large: 2rem; /* 32px if the root font size is 16px */
  --padding-medium: 1.5rem; /* 24px */
  --padding-small: 1rem; /* 16px */
  --margin-large: 2rem; /* 32px */
  --margin-medium: 1.5rem; /* 24px */
  --margin-small: 1rem; /* 16px */

  /* Font sizes */
  --font-size-huge: 3.5rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.75rem;
  --font-size-normal: 1.25rem;
  --font-size-small: 1rem;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}


/* Animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Global Styling */
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--background);
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  animation: fade-in 2s ease-out;
}

.flashlight{
  position: fixed;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 80%);
  pointer-events: none; 
  mix-blend-mode: overlay; 
  border-radius: 50%;
  transition: transform 0.1s ease-out;
  z-index: 9999;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 80%);
  position: absolute;
  width: 500px;
  height: 500px;
  /* box-shadow: inset 0 0 150px 150px #000; */
  /* background: #fff; */
  /* z-index: 9999; */ 
}

.web-page{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* @media(max-width: 768px){
  .web-page{
    padding: 0 1rem;
  }
}

@media(max-width: 480px){
  .web-page{
    padding: 0 0.75rem;
  } */
/* } */

/* Home Page */
.home-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: center;
  justify-content: center;
  align-items: center;
  /* gap: var(--margin-medium); */
}

.home-page h1{
  font-size: var(--font-size-huge);
  font-weight: var(--extra-bold);
  /* animation: fade-in 1s ease-out; */
  color: white;
  letter-spacing: 3px;
}

.home-page h3{
  font-size: var(--font-size-medium);
  color: var(--secondary);
  font-weight: var(--semi-bold);
  letter-spacing: 1.5px;
}

.cv-button{
  display: inline-flex;
  align-items: center;
  /* background-color: #333; */
  color: #fff;
  text-decoration: none;
  font-size: var(--font-size-normal);
  cursor: pointer;
  gap: 0.5rem;
  margin: var(--margin-small);
  /* background-color: red; */
  /* border-color: transparent;
  border-width: 2px; */

  transition: transform 0.3s ease;
}

/* TODO: still does not work */
.cv-button:hover{
  transform: scale(1.05);
  /* border-color: var(--primary); */
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); Optional glowing effect */
}

/* Social Icons  */
.social-links{
  display: flex;
  justify-content: center;
  gap: var(--margin-medium); /* Space between icons */
  margin-top: var(--margin-small);
}

.social-icon{
  width: var(--font-size-large);
  height: var(--font-size-medium);
  color: var(--text-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover{
  transform: scale(1.05);
  color: var(--secondary);
  cursor: pointer;
}

/* Content section */
.section-title{
  font-size: var(--font-size-large);
  font-weight: var(--bold);
  letter-spacing: 1.25px;
  color: var(--text-color);
}